<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"><%= contact.nama %></h5>
    <p class="card-text"><%= contact.info %></p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><%= contact.noHp %></li>
    <li class="list-group-item"><%= contact.email %></li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>